html,
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
:root {
  --background: #111827;
  --accent: #68e7e8;
}
body {
  background-color: var(--background);
}
.header__nav,
.header__links {
  display: flex;
  gap: 2rem;
  align-items: center;
}
a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}
nav {
  padding: 3rem 0;
}
main {
  max-width: 1280px;
  margin: 0 auto;
  background: url("https://tailwindui.com/img/component-images/cloud-illustration-teal-cyan.svg")
    no-repeat right center;
  min-height: 80vh;
}
.header__nav > ul:last-child {
  margin-left: auto;
}
.header__links:first-child > li:first-child {
  margin-right: 1rem;
}
.header__link--secondary {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
}
h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  color: #e5e5e5;
  font-size: 1.2rem;
  line-height: 1.5;
}
.hero__subscription {
  display: flex;
  margin-bottom: 1rem;
  gap: 0.5rem;
}
.hero__text--small {
  font-size: 0.85rem;
}
.hero__subscription input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.hero__text--accent {
  color: var(--accent);
}
button {
  min-width: 130px;
  border-radius: 0.5rem;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 1rem;
}
.hero__button--accent {
  background: var(--accent);
}
.hero__links {
  display: inline-flex;
  gap: 1rem;
  background: #121212;
  padding: 0.5rem;
  border-radius: 25rem;
}
.hero__links > li {
  border-radius: 25rem;
}
.hero__links > li > a {
  border-radius: 25rem;
  padding: 0.5rem 1rem;
}
